﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Empleado.Master" AutoEventWireup="true" CodeBehind="BienvenidaV.aspx.cs" Inherits="Empresa.BienvenidaV" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h1 style="text-align: center; text-shadow: initial; color: aqua; font-family: 'Times New Roman', Times, serif; font-size: 50px;">Bienvenido Vendedor</h1>
</asp:Content>
