﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Gerente.Master" AutoEventWireup="true" CodeBehind="BienvenidaG.aspx.cs" Inherits="Empresa.WebForm9" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <h1 style="text-align: center; text-shadow: initial; color: aqua; font-family: 'Times New Roman', Times, serif; font-size: 50px;">Bienvenido Gerente</h1>
</asp:Content>
