﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Supervisor.Master" AutoEventWireup="true" CodeBehind="BienvenidaS.aspx.cs" Inherits="Empresa.WebForm10" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h1 style="text-align: center; text-shadow: initial; color: aqua; font-family: 'Times New Roman', Times, serif; font-size: 50px;">Bienvenido Supervisor</h1>

</asp:Content>
