﻿<%@ Page Title="Carga Informacion" Language="C#" MasterPageFile="~/Administrador.Master" AutoEventWireup="true" CodeBehind="CargarInformacion.aspx.cs" Inherits="Empresa.WebForm1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <br />
    <h3 style="align-items:center">Cargar informacion por XML</h3>
    <div >
        <asp:Label Text="Direccion del archivo XML" runat="server" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox runat="server" ID="archivo" Height="16px" Width="204px" />
        &nbsp;&nbsp;
        <asp:Button runat="server" ID="cargar" Text="Cargar Informacion" OnClick="cargar_Click" />
    </div>

    <div>
        <asp:Label ID="label1" runat ="server" />
        <asp:Label ID="label2" runat="server" />
        <asp:Label ID="label3" runat="server" />
        <asp:Label ID="label4" runat="server" />
        


    </div>
</asp:Content>
