﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Administrador.Master" AutoEventWireup="true" CodeBehind="Cobro.aspx.cs" Inherits="Empresa.Cobro" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <div>
        <h1>Pago de un Orden</h1>
        <br />

        <br />
        <asp:Label runat="server" Text="Ingrese la Orden " />
        &nbsp;<asp:TextBox ID="CodigoOrden" runat="server" />
        &nbsp;&nbsp;
                    <asp:Label runat="server" Text="Ingrese su NIT " />
        &nbsp;&nbsp;
                    <asp:TextBox ID="NitJefe" runat="server" />
        &nbsp;&nbsp;&nbsp;
                    <asp:Label runat="server" Text="Ingrese la Fecha " />
        &nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:TextBox ID="fechaauto" runat="server" />
        &nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <asp:RadioButton ID="Radio1" Text=".  Aprobado" Checked="false" GroupName="RadioGroup1" runat="server" AutoPostBack="false" />
        <br />
        <asp:RadioButton ID="RadioButton1" Text=".  No Aprobado" Checked="False" GroupName="RadioGroup1" runat="server" AutoPostBack="false" /><br />
        <asp:Button ID="Orden" runat="server" Text="Aplicar Cambios" OnClick="Orden_Click" />
    </div>


</asp:Content>
