﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Administrador.Master" AutoEventWireup="true" CodeBehind="InicioAdmi.aspx.cs" Inherits="Empresa.Empleados" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h1 style="text-align:center; text-shadow:initial; color: aqua; font-family:'Times New Roman', Times, serif;
     font-size:50px;">Bienvenido Admin</h1>
</asp:Content>
